.content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #666666;
  color: #fff;
  padding: 50px;
}

.content-social-midias {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.social-midias-icons {
  margin-top: 10px;
}